/* 1st section */
.as{
    display: flex;
    padding-left: 140px;
    padding-top: 40px;
    font-family: Poppins;
}
.in{
    padding-left: 100px;
  
    
}
.in i {
    background-color: lightgray;
   padding-top: 9px;
   padding-bottom: 11px;
   padding-right: 5PX;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   padding-left: 20px; 
   margin-left: 330px;
   position: absolute;
}


.in input{
    border: 2px solid lightgray;
    width: 330px;
    height: 30px;
    border-radius: 15px;
    background-color: lightgray;
    align-items: center;
    padding-left: 10px;

}
.in input:focus{
    outline: none;

}
.ft a {
    padding-left: 30px;
    text-decoration:none;
    color: #707070;
}
   
.ft{
    padding-left: 90px;
}
/* 2nd section */
.gpa{
    display: flex;
    font-family: Poppins;
    padding-top:10px ;
    padding-left: 70px;
    background-color: #FEEAE9;
    border-radius: 20px;
    margin: 70px;
    margin-left: 100px;
}
.back-up a{
    text-decoration: none;
    background-image: linear-gradient(#FF589B,#FF136F);
    border-radius: 5px;
    color: white;
    padding: 14px 20px 14px 20px;
}
.back-up h1{
    font-size: 55px;
}
.pic img {
    width:402px;
    padding-top: 70px;
    padding-left: 100px;
}
.back-up{
    width:50%;
}
.back-up p{
    width: 500px;
}
span{
    color: #FF136F;
    font-size: 30px;
}
/* 3rd section */

.ko{
    font-family:Poppins ;
    padding-left: 150px;
}
.full{
    display: flex;
    font-family:Poppins ;
}
.full .wach{
    display: flex;
 }.full .bag{
    display: flex;
 }.full .Shoes{
    display: flex;
 }

.wach img{
    width:100px;
    padding-left: 60px;
    height: 100px;
    
}.bag img{
    width:100px;
    padding-left: 60px;
    height: 100px;
    
}.Shoes img{
    width:100px;
    height: 100px;
    padding-left: 60px;
    
}
.wach{
    background-image:linear-gradient(#FF9C35,#FFD019);
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}
.bag{
    background-image:linear-gradient(#FF589B,#FF136F);
    border-radius: 10px;
    margin: 10px 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    
    


}
.Shoes{
    background-image:linear-gradient(#4289FF,#3F07F8);
    border-radius: 10px;
    margin: 10px ;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    
}
.wach p{
    font-size:36px ;
    color: white;
}
.bag p{
    font-size: 36px;
    color: white;
}
.Shoes p{
    font-size: 36px;
    color: white;
}
/* 4et section */
.ghj{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-right:40px;
   padding-left: 30px;
    padding-bottom: 30px;
}
.er{
    display: flex;
   padding-left: 100px;
}
.nk{
    color:#FF9D00 ;
    text-align: right;
}
.try{
    font-family:Poppins ;
    .hj img{
        width: 336px;
    }
}

.nm a{
    text-decoration: none;
   background-color: black;
    border-radius: 5px;
    color: white;
    padding: 14px 20px 14px 20px;
   margin-left: 23%;
}
.befor{
    width: 80%;
    text-align: center;
}
.sd p{
    width: 80%;
    text-align: center;
    border-radius: 10px;
}
.sa p{
    width: 80%;
    text-align: center;
    border-radius: 10px;

}
.es p{
    width: 80%;
    text-align: center;
    border-radius: 10px;

}
.sd{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-right:40px;
   padding-left: 30px;
    padding-bottom: 30px;
}
.yt{
    text-align: center;
    width: 80%;
}
/* 6rt section */


.hnk{
    background-color: #F4F4F4;
    padding-bottom: 80px;
}
.qw{
font-family: Poppins;
margin: 100px;
border-radius: 15px;
background-color: #fff2f1;
padding-bottom: 80px;
padding-top: 80px;

}
.ol{
    text-align: center;
    font-size: 35px;
}
.jkl{
    font-size: 20px;
    text-align: center;
}
.ow input{
    width: 300px;
    padding-top:10px ;
    padding-bottom: 10px;
    margin-left: 26.7%;
    outline: none;
    font-size: 20px;
    position: absolute;
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px;
   
}
.bnm a {
    position: relative;

    text-decoration: none;
    background-image: linear-gradient(#FF589B,#FF136F);
    color: white;
    padding-left: 10px;
    padding-bottom: 21px;
    padding-right: 10px;
    padding-top:5px ;
    margin: 53.7%;
    border-top-right-radius:5px ;
    border-bottom-right-radius: 5px;

    
}

